<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <img class="logo" src="https://i.ibb.co/30yn2pM/Logo.png" alt="logo" border="0">
      
      <p>Olá {{ name }}, você esqueceu a senha?</p>

      <p>Tudo bem! Clique no link abaixo para cadastrar uma nova senha!</p>

      <a href="{{ link }}" target="_blank" class="button">Cadastrar nova senha</a>
    </div>
  </body>
</html>